* {
    padding: 0;
    margin: 0;
}

/* 
div {
    border: 1px solid red;
} */

.main {
    display: grid;
    grid-template-columns: 3fr 11fr;
    grid-template-rows: 2fr 8fr;
}

.dashboard {
    background-color: rgba(25,146,212,255);
    color: rgba(255,255,255,255);
    grid-column: 1 / 2;
    grid-row: 1/ 3;

    display: grid;
    align-content: start;
    grid-gap: 40px;
}


.dashboard-item-container-large, .dashboard-item-container {
    padding: 5px;
    grid-auto-flow: column;
    align-items: center;
    margin: 0;
    gap: 10px; 

    display: flex;
}

.fa-th-large {
    font-size: 30px;
    width: auto;
}

.header {
    background-color: bisque;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top-container, .header-bot-container {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 7fr 4fr;
}


.header-top-right-container, .header-top-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    width: 90%;
    /* box-sizing: border-box; Ensures padding and border are included in the element's total width */
  }

.header-bot-left-container {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.header-bot-right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content {
    background-color: grey;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 8fr 3fr;

    padding: 20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.your-projects-text{
    margin-bottom: 10px;
}

.project-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));

    row-gap: 40px;
    
}

.project {
    background-color: white;
    width: 400px;
    padding:  20px;
}

.title, .main-text {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.announcements-text {
    margin-bottom: 10px;
}

.announcement-item-container {
    background-color: white;
}

.announcement {
    padding: 10px;
}


.trending {
    margin-top: 20px;
}

.trending-item-text {
    margin-bottom: 10px;
}

.trending-item-container {
    background-color: white;
    align-items: center;
    justify-content: center;
}

.trending-item {
    padding: 15px;
    display: flex;
    gap: 10px;
}